#bodyPanier {
  display: grid;
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

th {
  background: $colorTertiary;
  color: $colorSecondary;
  border: none;
  height: 100px;
  padding: 0;
}





/**************** FORMULAIRE *******************/
fieldset {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: inline-block;
  min-width: 100px;
  height: 30px;
  padding-left: 25px;
  padding-right: 10px;
}

input {
  height: 20px;
  width: 60%;
}

.buttonForm {
    margin-left: 27px;
    margin-top: 5px;
    width: 88%;
    height: 30px;
}

.form-validation.success input {
  border-color: #2ecc71;
}

.form-validation.erreur input {
  border-color: #e74c3c;
}

.form-validation.success i.check {
  color: #2ecc71;
  visibility: visible;
}

.form-validation.erreur i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-validation.erreur small {
  color: #e74c3c;
  visibility: visible;
}