body {
  background: $colorSecondary;
}

#conteneur {
  max-width: 100%;
  margin: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  justify-content: center;
  & h1 {
    margin-bottom: 0;
  }
}
.produitImage {
  object-fit: cover;
  border-radius: 25px 25px 0 0;
  height: 263px;
  width: 100%;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  @media only screen and (min-width: 200px) and (max-width: 550px) {
    flex-direction: column;
  }

  &__produit {
    background: white;
    text-decoration: none;
    padding: 4px;
    border-radius: 25px;
    position: relative;
    top: 0;
    width: 35%;
    height: 428px;
    @media only screen and (min-width: 200px) and (max-width: 550px) {
      width: 85%;
    }
    &:hover {
      transform: scale(0.95);
    }
    &--content {
      padding: 5px;
      background: white;
      border-radius: 0 0 25px 25px;
      @media only screen and (min-width: 200px) and (max-width: 550px) {
        text-align: center;
      }
    }
    &--stock {
      color: $green;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
    }
    &--price {
      color: $red;
      font-weight: bold;
      text-align: center;
      padding-top: 20px;
    }
    &--img:hover {
      transform: scale(0.95);
    }
  }
  & h2 {
    font-size: 30px;
    margin: 0;
    color: $colorPrimary;
  }
  & p {
    margin: 0;
    flex: 1;
  }
  & span {
    color: $yellow;
    text-align: center;
  }
  & i {
    color: $colorPrimary;
  }
}
