.confirmation {
  &__content {
    width: 30%;
    height: 350px;
    padding: 50px 40px 0 40px;
    margin-bottom: 100px;
    background: $colorPrimary;
    border-radius: 10px;
    font-family: $navFont;
    font-size: 20px;
    font-weight: bold;
    color: white;
    @include centrageH;
    @media only screen and (min-width: 200px) and (max-width: 700px) {
      height: 450px;
      width: 40%;
    }
    @media only screen and (min-width: 200px) and (max-width: 700px) {
      height: 600px;
    }
    &--justify {
      text-align: justify;
    }
    &--center {
      text-align: center;
    }
    &--signature {
      text-align: center;
    }
  }
}
