header {
  display: flex;
  .banniere__content {
    background-image: url(../../images/Teddy.jpg);
    background-size: cover;
    background-position: center 82%;
    width: 100%;
    height: 500px;
    position: relative;
    &--slogan {
      position: absolute;
      right: 18%;
      font-family: $sloganFont;
      font-size: 40px;
      font-weight: bold;
      color: $colorSecondary;
      width: 25%;
      text-align: center;
      & img {
        width: 50px;
        margin-top: 25px;
      }
      & p {
        @media only screen and (min-width: 1000px) {
          margin-top: 5px;
        }
      }
      @media only screen and (min-width: 200px) and (max-width: 1200px) {
        font-size: 30px;
        width: 100%;
        color: $colorPrimary;
        right: 0%;
      }
    }
    &--share {
      position: absolute;
      top: 5%;
      @media only screen and (min-width: 301px) and (max-width: 450px) {
        top: 180px;
      }
      & span {
        color: #ffffff;
        font-size: 40px;
        margin-bottom: 15px;
        @media only screen and (min-width: 301px) and (max-width: 450px) {
          margin-bottom: 5px;
        }
        &:hover {
          color: $colorPrimary;
          background: white;
          border-radius: 5px;
        }
      }
      & ul {
        list-style-type: none;
        padding: 20px;
        @media only screen and (min-width: 200px) and (max-width: 300px) {
          display: none;
        }
      }
    }
    &--navigation {
      position: absolute;
      top: 400px;
      right: 5%;
      @media only screen and (min-width: 200px) and (max-width: 300px) {
        top: 440px;
      }
      & a {
        color: $colorPrimary;
        font-size: 37px;
        font-family: $navFont;
        font-weight: bold;
      }
      ul {
        list-style-type: none;
        display: flex;
        padding: 0;
      }
      a {
        @include lien;
      }
      .quantityCart {
        bottom: 13px;
        right: 20px;
        padding: auto 150px;
        border-radius: 50%;
        font-size: 15px;
        color: white;
        font-weight: bold;
        position: relative;
      }
    }
  }
}
