.service {
  // display: none;
  /*width: 100%;*/
  height: 175px;
  background: $grey;
  color: $colorPrimary;
    display: grid; /*******************A remettre quand j'enlèverai le display none*********************/
  grid-template-columns: 1fr 1fr 1fr 1fr;
  &__content {
    padding-left: auto;
    padding-right: auto;
    margin-right: auto;
    margin-left: auto;
    & p {
      margin-top: 10px;
    }
    &--clients {
      display: flex;
      padding: 0;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
    & span {
      font-size: 50px;
      transform: rotate(90deg);
      margin: 0 20px 0 10px;
      color: black;
    }
    &--appels {
      font-size: 15px;
      padding-left: 30px;
    }
    &--livraison,
    &--paiement,
    &--satisfaction {
      font-weight: bold;
      font-size: 20px;
      text-align: center;
    }
    
    &--satisfaction {
      margin-right: auto;
      margin-left: auto;
    }
    & img {
      padding-top: 20px;
    }
  }
}
