$sloganFont : 'Open Sans Extra Bold', sans-serif;
$navFont : 'Open Sans Light', sans-serif;
$txtFont : 'Open Sans', sans-serif;
$colorPrimary : #8f7361;
$colorSecondary : #f3e9f1;
$colorTertiary : #9f7f6c;
$yellow : #ffde59;
$green :  #55d81c;
$grey: #cdc7c4;
$red : #ea1508;